services:
  postgres:
    container_name: postgres_container
    image: postgres:15.2
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./src/main/resources/sql/01-createTables.sql:/docker-entrypoint-initdb.d/01-createTables.sql
      - ./src/main/resources/sql/02-fillTables.sql:/docker-entrypoint-initdb.d/02-fillTables.sql
    ports:
      - "5433:5432"
    restart: unless-stopped

volumes:
  pg_data:
